<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/gesture")
</head>
<body>
    <div class="col-xs-12 temp-ko">
        @RenderBody()
        <hr />
    </div>

    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        console.log(Gesture.VM);
        var Gesture = Gesture || {};
        Gesture.VM = Gesture.VM || {};

        //Apply bindings to main child div of body, this is work around jquery-dialog moving when initialized, resulting in KO trying to bind to it multiple times
        ko.applyBindings(Gesture.VM, document.getElementsByClassName('temp-ko')[0]);
    </script>
</body>
</html>
